{% extends "_base.html" %}
{% block heading %}{{ object.title }}{% endblock heading %}
{% block content %}

    <p><a href="{{ url_for('orgbase/goal_edit', pk=object._key) }}">Редактировать</a></p>

    {{ object.summary }}

    {% if object._key %}
        <p class="date">
            {{ object.added.strftime('%d %B %Y') }}
            {% if object.added.date() != object.updated.date() %}
                (updated {{ object.updated.strftime('%d %B') }})
            {% endif %}
        </p>
    {% endif %}

{% endblock %}
