{% extends "_base.html" %}
{% block heading %}Tasks{% endblock heading %}
{% block content %}

    {#<!--<p>We've got <strong>{{ objects.count() }}</strong> tasks:</p>-->#}

    {{ pagination.generate() }}

    <table style="width:100%">
        <tr>
            <th>Заголовок</th>
            <th>дата создания</th>
            <th>дата обновления</th>
        </tr>
        {% for object in objects %}
        <tr>
            <td><a href="{{ url_for('orgbase/task', pk=object.pk) }}">{{ object }}</a></td>
            <td>{{ object.created.strftime('%d&nbsp;%B&nbsp;%Y') }}</td>
            <td>{{ object.updated.strftime('%d&nbsp;%B&nbsp;%Y') }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
